extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home_banner
		.row
			.col.owl-carousel.owl-theme
				.item
					.cover.container
						h2 Dịch vụ content
						p Viết hay thay lời nó của bạn
						img(src="./img/pen.png", alt="", srcset="")
				.item
					.cover.container
						h2 Dịch vụ content
						p Viết hay thay lời nó của bạn
						img(src="./img/pen.png", alt="", srcset="")
				.item
					.cover.container
						h2 Dịch vụ content
						p Viết hay thay lời nó của bạn
						img(src="./img/pen.png", alt="", srcset="")
	section.home_banner2
		.container
			.row
				.col
					.cc
						img(src="", alt="", srcset="")
			.row
				.col.tt
					h2 Lý do chọn
			.row
				.col-12.col-lg-4
					.title
						figure
							.cv1
								img(src="./img/b_1.png", alt="", srcset="")
							figcaption
								h3 Tối ưu từ khóa theo chuẩn SEO
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, nisi ipsam debitis nobis consequuntur, magnam delectus voluptas voluptatum vel, reprehenderit sit mollitia voluptatibus in pariatur voluptate ratione quis. Illum, quam?
				.col-12.col-lg-4
					.title
						figure
							.cv2
								img(src="./img/b_2.png", alt="", srcset="")
							figcaption
								h3 Tối ưu từ khóa theo chuẩn SEO
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, nisi ipsam debitis nobis consequuntur, magnam delectus voluptas voluptatum vel, reprehenderit sit mollitia voluptatibus in pariatur voluptate ratione quis. Illum, quam?
				.col-12.col-lg-4
					.title
						figure
							.cv3
								img(src="./img/b_3.png", alt="", srcset="")
							figcaption
								h3 Tối ưu từ khóa theo chuẩn SEO
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, nisi ipsam debitis nobis consequuntur, magnam delectus voluptas voluptatum vel, reprehenderit sit mollitia voluptatibus in pariatur voluptate ratione quis. Illum, quam?
